.x__limit--textarea {
    border: 1px solid #d1dbe5;
    display: block;
    resize: vertical;
    padding: 5px 7px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: #000;
    border-radius: 4px;
    outline: 0;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.x__limit--textarea:focus {
    border: 1px solid #3FAAF5
}

.x__limit--over {
    border: 1px solid #ff4949
}

.x__limit--text {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    color: #d1dbe5
}

.x__limit--num {
    color: #13ce66
}

.x__limit--num-over {
    color: #ff4949
}
