@import "./common/var.scss";

.x__show-more {
    font-size: 13px;
    color: #000
}

.x__show-more--href, .x__show-more--link {
    color: #3FAAF5;
    cursor: pointer
}

.x__show-more--link {
    text-decoration: none
}
